.bg-arsh{
    background-color: whitesmoke;
}

.fdiv{
    background-color: rgb(205, 204, 204);
    margin-right: 10px;
    
    
}
.green{
    color: rgb(52, 251, 72);
}
.bdiv :hover{
    
}

.tops{
    margin-top: 500px;
    margin-right: 800px;
    margin-top: 40px;
}
.bdiv{
border: 1px;
background-color: rgb(244, 240, 240);
}

