*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans",sans-serif;
}

.bg-arsh{
    background-color: whitesmoke;
}

.fdiv{
    background-color: rgb(205, 204, 204);
    margin-right: 10px;
    
    
}
.green{
    color: #69ae14;
}
.bdiv :hover{
    
}

.tops{
    margin-top: 500px;
    margin-right: 800px;
    margin-top: 40px;
}
.bdiv{
border: 1px;
/* background-color: rgb(244, 240, 240); */
}
.bigdiv{
    display: grid;
    grid-template-columns: auto auto auto ;
    position: inherit;
    margin-left: 30px;
    
    
}
.bottom{
    display: grid;
    grid-template-columns: auto auto;
    
    
}
.products{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.pic1{
    width: 1200px;
}
.pic4{
    width: 1300px;
}
.pic5{
    width: 1300px;
}
